{% extends 'base.html' %}
{% block content %}
The Ministry of Road Transport & Highways (MoRTH) has been facilitating computerization of over 1100 Road Transport Offices (RTOs) across the country. </br>
RTOs issue Registration Certificate (RC) & Driving License (DL) that are mandatory requirements and are valid across the country, subject to certain provisions and permissions.</br>

With wide variations in state policies and manual/ system based procedures being followed across the country, it had become necessary to define same standards for these documents on a pan-India level to ensure interoperability, correctness and timely availability of information. SCOSTA committee setup for this purpose had recommended a uniform standardized software across the country. The Ministry thus entrusted National Informatics Centre (NIC) with the task of standardizing & deploying two softwares - VAHAN for Vehicle Registration and SARATHI for Driving Licenses and of compiling the data with respect to Vehicle Registration and Driving Licenses of all the states in State Register and National Register.</br>
The applications VAHAN & SARATHI were conceptualized to capture the functionalities as mandated by Central Motor Vehicle Act, 1988 as well as State motor vehicle Rules with customization in the core product to suit the requirements of 36 States and UTs.</br>

{% endblock %}